#__background_SweetBreads {
  width: 100%;
  height: 100vh; // ocupa a altura total da tela
  background-image: url("../../../assets/images/SweetBreads/paoChocoDLeite3.jpeg");
  background-size: cover; // cobre toda a tela
  background-position: center; // centraliza a imagem
  background-repeat: no-repeat;
  background-attachment: fixed; // efeito "parallax" (fica fixo ao rolar)

  // deixa transparente para sobrepor elementos se quiser
  display: flex;
  justify-content: center;
  align-items: center;
}
